# folders
__pycache__/
.cache/
.venv/
.vscode/
bin/
*/bin/
.venv

# files
.DS_Store
compile_commands.json

# chrome driver
chrome-win64
chromedriver-win64
chromedriver-win64.zip

databricks_DBRX_website_bot/__pycache__
databricks_DBRX_website_bot/diffusion_mlx
.env
#extensions